@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'sticky-footer';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@include sticky-footer(8rem, ".custom-wrapper", ".custom-bottom", ".footer");

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.custom-wrapper {
  background-color: #fefefe;
}

.hero-top {
  background: url('https://cheshyre.github.io/assets/images/header.jpg') no-repeat bottom center;
  background-color: #292c2f;
  background-size: cover;
  background-attachment: fixed;
  height: 8rem; // need to fix font size so it works better for mobile
  overflow: hidden;

  h1 {
    color: #fff;
    text-align: center;
    @include vertical-align;
    font-size: 1.75rem;
  }

  @media screen and (min-width: 40em) {
  	h1 {
    	font-size: 3.5rem; }
    height: 12rem;
  }
}

.hero-bottom {
  background: url('https://cheshyre.github.io/assets/images/header.jpg') no-repeat bottom center;
  background-color: #292c2f;
  background-size: cover;
  background-attachment: fixed;
  height: 4rem;
  overflow: hidden;

  @media screen and (min-width: 40em) {
    h1 {
      font-size: 3.5rem; }
    height: 6rem;
  }
}

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 0.6rem;
  padding: 0.6rem;

  p {
    &.credits {
      color: #8f9296;
      font-size: 0.8rem;
      margin: 0;
    }
  }

  @media screen and (min-width: 40em) {
    font-size: 1.2rem;
    padding: 1.2rem;
  }

  .links {
  	color: #292c2f;

    a {
      list-style: none;
      color: #fefefe;
      padding: 0 0rem 0 0rem;
      margin: 0;

      &::after {
        content: "";
        padding: 0 0.4rem 0 0.4rem;
      }

      &:last-child::after {
        content: "";
        padding: 0 0.4rem 0 0.4rem;
      }
    }
  }
}
