          <h2>Completed</h2>
          {% assign categories_list = page.completed_categories | split: " " %}{% for category in categories_list %}{% capture posts %}{% for post in site.posts %}{% if post.categories contains 'hltb' and post.categories contains category and post.progress == 100 %}|{{ post.title }}#{{ post.url }}#{{ post.description }}#{{ post.hours }}#{% endif %}{% endfor %}{% endcapture %}
            {% if posts.size > 0 %}
            <h3>{{ category | capitalize }}</h3>
            {% assign sorted_posts = posts | remove_first: "|" | split: '|' | sort %}
              {% for post in sorted_posts %}
              {% assign postitems = post | split: '#' %}
              <h4><a href="{{ site.prefix }}{{ postitems[1] }}">{{ postitems[0] }}</a></h4>
              <p>{{ postitems[2] }}</p>
              <h5>HLTB: {{ postitems[3] }} hours</h5>
              {% endfor %}
            {% endif %}
          {% endfor %}
          <hr>