<!doctype html>
<html lang="en">
  <head>
    {% include meta_core.html %}
    {% include title.html %}
    {% include meta_aux.html %}
    {% include fonts.html %}
    <link rel="stylesheet" href="/assets/css/main.css">
    {% if page.include_math %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    {% endif %}
    {% include link.html %}
  </head>
  <body>
    <div class="site_wrapper">
      {% include nav.html %}
      <div class="content_wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
