---
layout: default
---
{% if page.progress < 100 %}
<h2>Progress</h2>
<div class="progress" role="progressbar" tabindex="0" aria-valuenow="{{ page.progress }}" aria-valuemin="0" aria-valuetext="{{ page.progress }} percent" aria-valuemax="100">
<div class="progress-meter" style="width: {{ page.progress }}%"></div>
</div>
{% else %}
{% if page.hours %}
<h2>Time to complete: {{ page.hours }} hours</h2>
{% endif %}
{% endif %}
<h3>Summary</h3>
<p>{{ page.description }}</p>
{{ page.content }}
{% if page.score %}
<h3>Score: {{ page.score }}</h3>
{% endif %}